{% extends "base_nav.html" %}
{% load static %}
{% block title %}Password Change Success! Webfairy Design{% endblock %}

{% block content %}


    <!--  class: image, round, hfixedlg, hfixedmd, hfixedsm  -->
    <!--  Page Header  -->
    <div class="page-header--image" data-overlay>
        <div class="imagebg" style="background-image: url({% static 'pages/img/password@2x.jpg' %});"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="sectiontitle-element--center--light">
                        <h1 class="big">Password Changed</h1>
                        <p>Your password has been successfully changed.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  END Page Header  -->


{% endblock %}
