{% extends "base_nav.html" %}
{% load static %}
{% block title %}About: Webfairy Design{% endblock %}

{% block content %}

    <!--  Page Header  -->
    <!--  class: image, round, hfixedlg, hfixedmd, hfixedsm  -->
    <div class="page-header--image" data-overlay>
        <div class="imagebg" style="background-image: url({% static 'pages/img/pageheader-about.jpg' %});"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="sectiontitle-element--light--center">
                        <h1>About<br>Webfairy Design</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  END Page Header  -->
    <!--  Page Content  -->
    <div class="page-content">
        <!--  Full Width Row  -->
        <section data-aos="fade" class="fullrow-element--image--right">
            <div class="main-wrapper">
                <div class="inner-wrapper">
                    <div class="sectiontitle-element">
                        <span class="toptitle--line--primary">Our Mission</span>
                        <h2>Making <em class="underline--highlighter">Magic</em> for Online Business</h2>
                        <p>Webfairy Design is making magic for online business. With the modern tools of Python
                        programming and the Django Web Framework along with the Webfairy’s creativity, sites
                        created by owner and developer, <a href="https://www.marcisprouse.com">Marci Sprouse</a>, are works of art.
                        Sites by Webfairy Design are secure, highly searchable,
                        user-friendly and effective in bringing customers back time and time again.</p>
                        <p>Originally opened in 2002, the Webfairy has a history of making brilliant sites created with the most modern tools of the time.
                        Since then, so much has changed both in technology and styles. After working in the field of Education for awhile,
                        Marci Sprouse has come back to make magic again, with a new set of
                        modern tools (Python and Django), making her site designs more brilliant and
                        powerful than ever before!</p>
                    </div>
                </div>
            </div>
            <div class="image" style="background-image: url({% static 'pages/img/about-classic.jpg' %});"></div>
        </section>
        <!--  END Full Width Row  -->
        <!--  Full Width Row  -->
        <section data-aos="fade" class="fullrow-element--image--icons">
            <div class="image" style="background-image: url({% static 'pages/img/services-about.jpg' %});" data-lg-order="2"></div>
            <div class="main-wrapper" data-lg-order="1">
                <div class="inner-wrapper">
                    <div class="row">
                        <div data-aos="fade-up" data-aos-delay="100" class="col-12 col-md-6">
                            <div class="icon-element--round--colorone">
                                <div class="info">
                                    <div class="icon--shadow--light"><i class="feather icon-edit-2"></i></div>
                                    <div class="text">
                                        <h6>Branding</h6>
                                        <p>The Webfairy can create and incorporate your personal or business branding into your
                                        online presence. Need a logo? No problem. We can do it. Viewers will remember you with
                                        Webfairy Design.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-aos="fade-up" data-aos-delay="200" class="col-12 col-md-6">
                            <div class="icon-element--round--colorone">
                                <div class="info">
                                    <div class="icon--shadow--light"><i class="feather icon-layout"></i></div>
                                    <div class="text">
                                        <h6>Design</h6>
                                        <p>Modern, responsive site designs that work across devices is our specialty.
                                        The Webfairy will get to know your preferences and build a site
                                        you and your viewers will love!</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-aos="fade-up" data-aos-delay="300" class="col-12 col-md-6">
                            <div class="icon-element--round--colorone">
                                <div class="info">
                                    <div class="icon--shadow--light"><i class="feather icon-code"></i></div>
                                    <div class="text">
                                        <h6>Development</h6>
                                        <p>Specializing in the Django Web Framework, sites built by Webfairy Design are secure
                                        with the power of a database back end, allowing for unique user experiences and features.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-aos="fade-up" data-aos-delay="300" class="col-12 col-md-6">
                            <div class="icon-element--round--colorone">
                                <div class="info">
                                    <div class="icon--shadow--light"><i class="feather icon-heart"></i></div>
                                    <div class="text">
                                        <h6>Our Values</h6>
                                        <p>The Webfairy appreciates and understands the financial investment businesses have to make
                                        to have a viable and competitive online presence. Customer service with integrity is the Webfairy Design priority.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  END Full Width Row  -->
        <!--  Image Text  -->
        <section data-padding data-bg="grey">
            <div class="container">
                <div class="row align-items-lg-center">
                    <div data-aos="fade" class="col-12 col-lg-8 offset-lg-2">
                        <div class="sectiontitle-element--center--full">
                            <span class="toptitle--primary"><a href="{% url 'contact_form:contact' %}">Start your project today!</a></span><br>
                            <h2>The Webfairy is your partner in<br>creating an <em>awesome project.</em></h2>

                            <blockquote class="blockquote-element--primary" style="text-align:left;" data-margin>
                            <em>After visiting the Webfairy Design site, I knew this was the designer for me.
                            After meeting Marci, I was very impressed with her professionalism, as well as her ability to
                            listen to my ideas. She was dedicated to gaining an understanding of the content, which ultimately
                            led to the fabulous presentation that I had envisioned. Together, I feel we have been very successful
                            in designing and marketing a very unique site. Her creative abilities, along with the practical advice,
                            have greatly enhanced my searchability and potential impact on the web. I highly recommend
                            Webfairy Design in helping you create your own possibilities.</em></quote>
                            <span class="author">- Pamela R.</span>
                            </blockquote>
                            <a href="{% url 'contact_form:contact' %}" class="btn--big--icon--round--colortwo--alt"><span>Contact Us</span><i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  END Image Text  -->
        <!--  Partners  -->
        <section data-aos="fade" data-padding data-bg="template">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="logo-element">
                            <ul class="justify-content-center">
                                <li>
                                    <a href="#"><img data-unveil src="#" data-src="assets/img/logo-placeholder-1-white@2x.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img data-unveil src="#" data-src="assets/img/logo-placeholder-2-white@2x.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img data-unveil src="#" data-src="assets/img/logo-placeholder-3-white@2x.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img data-unveil src="#" data-src="assets/img/logo-placeholder-4-white@2x.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img data-unveil src="#" data-src="assets/img/logo-placeholder-5-white@2x.png" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  END Partners  -->
    </div>
    <!--  END Page Content  -->

{% endblock %}
