{% extends "base_nav.html" %}
{% load static %}
{% block title %}Login: Webfairy Design{% endblock %}

{% block content %}

        <div class="page-header--image" data-overlay>
            <div class="imagebg" style="background-image: url({% static 'pages/img/login-header@2x.jpg' %});"></div>
            <div class="container">
                <div class="row justify-content-center">

                        <!-- <div class="col-12 col-lg-8 offset-lg-2"> -->
                        <div class="col-12 col-lg-8">

                            <div class="icon-element--box--round--shadow--colorone" style="text-align:center;background:white;">

<!-- ************** -->

                                  <h1>Log-in</h1>
                                  <p>Please, use the following form to log-in:</p>
                                  <form method="post">
                                    {{ form.as_p }}
                                    {% csrf_token %}
                                    <p><input type="submit" value="Log in"></p>
                                  </form>


<!-- ************** -->

                            </div><!-- end of card -->


                        </div>

                </div>
            </div>
        </div>


{% endblock %}
